.room-title{
    width:100%;
    padding: 10px;
    background-color: rgba(255,255,255,0.1);
}

.room-title span{
    width:100%;
    display: block;
    font-weight: bold;
    color:White;
}

.room-item{
    color:white;
    width:100%;
    background-color: rgba(255,255,255,0.1);
    border-bottom:1px solid #999;
}

.room-item span{
    padding:5px;   
    display: inline-block;
    cursor:pointer;
}